./*.class
classes.exo/bin
classes.exo/.settings
./*.classpath
./*.project
com.hb.gestionmedia/bin
com.hb.gestionmedia/.settings
ecole.exo/bin
ecole.exo/.settings
exercice.java/bin
exercice.java/.settings
pendu.exo/bin
pendu.exo/.settings
pong.eclipse/.idea
pong.eclipse/.settings
pong.eclipse/bin
pong.eclipse/out
pong.eclipse/build.properties
pong.eclipse/Pong.iml
test.java/bin
test.java/.settings